*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
P{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    outline: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}
.btn{
    border: 2px solid blue;
    border-radius: 5px;
    padding: 16px 20px;
    background: #fff;
    color: blue;
    transition: all 150ms ease-in-out;
}
.btn:hover{
    color: #fff;
    background: blue;
}
.pixel{
    outline: 1px solid #eee;
    transition-duration: 1s;
}